<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top fundo-roxo">
  <div class="container-fluid">
    <a class="navbar-brand active" href="/home#inicio" target="_self">Início</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home#sobre" target="_self">Sobre mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#habilidades" target="_self">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#projetos" target="_self">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#conquistas" target="_self">Conquistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#contato" target="_self">Contato</a>
        </li>
      </ul>
      <button class="navbar-toggler btn-back" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation" style="background-color: transparent!important; border: none!important;">
          <img src="../../assets/img/seta-para-tras.png" alt="">
      </button>
    </div>
  </div>
</nav>

</header>
<main>
  <section id="inicio" class="section">
      <app-inicio></app-inicio>
  </section>

  <section id="sobre" class="section">
      <app-sobre></app-sobre>
  </section>

  <section id="habilidades" class="section">
      <app-habilidades></app-habilidades>
  </section>

  <section id="projetos" class="section">
      <app-projetos></app-projetos>
  </section>

  <section id="conquistas" class="section">
      <app-conquistas></app-conquistas>
  </section>

  <section id="contato" class="section">
      <app-contato></app-contato>
  </section>
</main>
