<div class="viewport-cover">
  <app-menu [fundoTransparente]="false"></app-menu>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-sm-12 col-md-6 div-img d-flex align-items-center justify-content-center">
        <div class="circle-container">
          <img src="../../assets/img/EU.jpg" alt="Garota">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center div-textos">
        <div class="texto">
          <h1>Sobre Mim</h1>
          <h2>&lt;&lt;Minha História&gt;&gt;</h2>
          <h3>Olá! Sou a Andressa, navegando pelo mundo da tecnologia.</h3>
          <p>
            Descobri o mundo da tecnologia por acaso e, apesar das dúvidas iniciais, me apaixonei por ele. Estou no quinto semestre de Ciência da Computação e atuo como estagiária, enfrentando cada desafio com determinação.
          </p>
          <p>
            Minhas habilidades abrangem desde o desenvolvimento front-end, com HTML, CSS, JavaScript, e Angular, até o back-end, com Node.js, além de Java, C#, e uma sólida compreensão de SQL e banco de dados. Cada projeto é uma oportunidade de aprender e crescer.
          </p>
          <p>
            Me vejo como uma criadora digital, transformando necessidades em soluções eficazes e belas. Apesar dos momentos de dúvida, minha jornada até aqui me ensinou que desistir não é uma opção. Estou sempre buscando expandir meus conhecimentos e superar minhas expectativas.
          </p>
          <p>
            Atualmente, como estudante entusiasmada e em constante desenvolvimento, estou em busca de projetos reais adequados para iniciantes. Meu objetivo é aplicar minhas habilidades em situações práticas, colaborar com equipes e contribuir para projetos que geram impacto. Se você está procurando por alguém dedicado, com uma base técnica sólida e um desejo ardente de aprender e crescer profissionalmente, adoraria explorar como podemos trabalhar juntos.
          </p>
          <a href="../../assets/CV-oficial.pdf" class="btn btn-primary d-flex align-items-center justify-content-center"download="CV.pdf">Download CV <img src="../../assets/img/arquivo.png" alt="icone">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
