nav{
  font-weight: bold;
}
.fundo-roxo {
  background-color: #490075!important;
}
.fundo-transparente {
  background-color: transparent!important;
}
.navbar a{
  font-size: 1em;
  color: white;
}
.navbar .navbar-text{
  color: white;
  font-size: 1.5em;
  margin-left: -10px!important;
}
.navbar-toggler {
  background-color: white!important;
  color: #490075;
}

@media (max-width: 576px) {


}

@media (min-width: 577px) and (max-width: 768px) {


}

@media (min-width: 769px) and (max-width: 992px) {


}

@media (min-width: 993px) and (max-width: 1200px) {

  .navbar .nav-item{
    margin-left: 30px!important;
  }
}

@media (min-width: 1201px) {
  .navbar .nav-item{
    margin-left: 50px!important;
  }
  .container-fluid{
    width: 80%;
    margin: auto;
  }
}
