
<nav id="meuNav" [class.margin-bottom-expanded]="!isMenuCollapsed" [class.fundo-roxo]="!fundoTransparente" [class.fundo-transparente]="fundoTransparente" class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand active" href="#">Início</a>
    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/sobre">Sobre mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projetos">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/conquistas">Conquistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contato">Contato</a>
        </li>
      </ul>
      <img class="navbar-text ms-auto d-none d-lg-block" src="../../assets/img/logo-nav.png" alt="Andressa">
    </div>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h5 class="text-body-emphasis h4">Collapsed content</h5>
    <span class="text-body-secondary">Toggleable via the navbar brand.</span>
  </div>
</div>
