<div class="viewport-cover">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12 d-flex align-items-center justify-content-center" style="margin-top: -150px;">
        <h1>Projetos</h1>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="text-center">
                    <img src="../../assets/img/projeto-spotify.png" class="img-fluid" alt="Projeto Spotify">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-center text-md-start div-personalizada">
                    <p class="text-md d-none d-md-block">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error mollitia sapiente obcaecati sequi maxime ad, cumque ullam facere! Dolore officiis quod explicabo ratione consequatur earum. Tempore consectetur voluptate natus nostrum.
                    </p>
                    <button class="btn btn-primary">Ver mais</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Outros itens do carrossel aqui -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
