  <div class="container-fluid h-100">

    <div class="slider">


        <div class="list">

            <div class="item">
                <img src="../../assets/img/sql-bg.png" alt="SQL-FUNDO">

                <div class="content">
                    <div class="title">SQL</div>
                    <div class="type">LANGUAGE</div>
                    <div class="description">
                      Ao oferecer um conjunto abrangente de comandos, o SQL se tornou a linguagem padrão para interação com bancos de dados relacionais em uma ampla variedade de aplicações, desde aplicações web até sistemas de gestão empresarial.
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../../assets/img/angular-bg.png" alt="ANGULAR-FUNDO">

                <div class="content">
                    <div class="title">ANGULAR</div>
                    <div class="type">FRAMEWORK</div>
                    <div class="description">
                      Com recursos poderosos como injeção de dependência, data binding bidirecional e roteamento incorporado, Angular simplifica o desenvolvimento de interfaces de usuário dinâmicas e interativas.
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../../assets/img/py-bg.png" alt="PY-FUNDO">

                <div class="content">
                    <div class="title">PYTHON</div>
                    <div class="type">LANGUAGE</div>
                    <div class="description">
                      Com uma sintaxe limpa e expressiva, Python incentiva a escrita de código claro e conciso, facilitando a colaboração e a manutenção do código ao longo do tempo.
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../../assets/img/java-bg.png" alt="JAVA-FUNDO">

                <div class="content">
                    <div class="title">JAVA</div>
                    <div class="type">LANGUAGE</div>
                    <div class="description">
                      Java é uma linguagem orientada a objetos, oferecendo recursos como encapsulamento, herança e polimorfismo para facilitar o desenvolvimento de aplicativos robustos e escaláveis. Além disso, a ampla adoção de Java em empresas e organizações em todo o mundo resultou em uma vasta ecossistema de ferramentas, frameworks e bibliotecas, tornando-o uma escolha popular para uma variedade de aplicações, desde aplicativos de desktop até sistemas empresariais e aplicativos móveis.
                    </div>
                </div>
            </div>

            <div class="item">
              <img src="../../assets/img/html-bg.png" alt="HTML-FUNDO">

              <div class="content">
                  <div class="title">HTML</div>
                  <div class="type">MARKUP LANGUAGE</div>
                  <div class="description">
                    HTML fornece uma estrutura básica para a criação de documentos web, permitindo a inclusão de texto, imagens, links e outros elementos multimídia.
                  </div>
              </div>
            </div>

            <div class="item">
              <img src="../../assets/img/Csharp-bg.png" alt="C#-FUNDO">

              <div class="content">
                  <div class="title">C#</div>
                  <div class="type">LANGUAGE</div>
                  <div class="description">
                    Com uma sintaxe clara e expressiva, C# oferece recursos poderosos, como tipagem estática, tratamento de exceções, e suporte a polimorfismo, herança e encapsulamento. Além disso, C# é altamente integrada com a plataforma .NET, o que facilita o desenvolvimento de uma ampla gama de aplicativos, incluindo aplicativos desktop, web e móveis, bem como sistemas corporativos e jogos.
                  </div>
              </div>
            </div>

            <div class="item">
              <img src="../../assets/img/node-bg.png" alt="NODE-FUNDO">

              <div class="content">
                  <div class="title">NODE.JS</div>
                  <div class="type">PLATFORM</div>
                  <div class="description">
                    Uma das principais características do Node.js é sua abordagem baseada em eventos e assincronia, o que o torna ideal para lidar com operações de entrada e saída intensivas, como chamadas de API, operações de banco de dados e comunicação em tempo real.
                  </div>
              </div>
            </div>

            <div class="item">
              <img src="../../assets/img/bootstrap-bg.png" alt="BOOTSTRAP-FUNDO">

              <div class="content">
                  <div class="title">BOOTSTRAP</div>
                  <div class="type">FRAMEWORK</div>
                  <div class="description">
                    Com seu sistema de grid responsivo, componentes de interface, como botões, formulários e navegação, e um conjunto de plugins JavaScript, Bootstrap simplifica o processo de desenvolvimento web, permitindo aos desenvolvedores criar sites e aplicativos que se adaptam automaticamente a diferentes tamanhos de tela e dispositivos.
                  </div>
              </div>
            </div>

            <div class="item">
              <img src="../../assets/img/postgresql-bg.png" alt="POSTGRESQL-FUNDO">

              <div class="content">
                  <div class="title">POSTGRESQL</div>
                  <div class="type">DATABASE</div>
                  <div class="description">
                    PostgreSQL é baseado no modelo relacional de banco de dados e segue os padrões SQL ANSI. Ele oferece suporte a uma ampla variedade de recursos, incluindo transações ACID (Atomicidade, Consistência, Isolamento e Durabilidade), chaves estrangeiras, gatilhos, visões, funções armazenadas e replicação.
                  </div>
              </div>
            </div>

            <div class="item">
              <img src="../../assets/img/mysql-bg.png" alt="MYSQL-FUNDO">

              <div class="content">
                  <div class="title">MYSQL</div>
                  <div class="type">DATABASE</div>
                  <div class="description">
                    Com sua arquitetura cliente-servidor, o MySQL permite armazenar e manipular dados em tabelas relacionais usando a linguagem SQL (Structured Query Language). Ele oferece suporte a transações ACID (Atomicidade, Consistência, Isolamento e Durabilidade), chaves estrangeiras, gatilhos, visões e procedimentos armazenados, permitindo aos desenvolvedores criar e gerenciar bancos de dados complexos.
                  </div>
              </div>
            </div>


            <div class="item">
              <img src="../../assets/img/css-bg.png" alt="CSS-FUNDO">

              <div class="content">
                  <div class="title">CSS</div>
                  <div class="type">Cascading Style Sheets</div>
                  <div class="description">
                    CSS utiliza uma série de regras de estilo que associam elementos HTML a propriedades de estilo, permitindo que os desenvolvedores especifiquem como os elementos devem ser exibidos em diferentes dispositivos e tamanhos de tela.
                  </div>
              </div>
            </div>


            <div class="item">
              <img src="../../assets/img/js-bg.png" alt="JAVASCRIPT-FUNDO">

              <div class="content">
                  <div class="title">JAVASCRIPT</div>
                  <div class="type">LANGUAGE</div>
                  <div class="description">
                    Com JavaScript, os desenvolvedores podem adicionar funcionalidades como validação de formulários, animações, manipulação do DOM (Document Object Model), requisições assíncronas AJAX (Asynchronous JavaScript and XML) e muito mais, tornando as páginas web mais interativas e responsivas.
                  </div>
              </div>
            </div>

            <div class="item">
              <img src="../../assets/img/power-bi-bg.png" alt="POWER-BI-FUNDO">

              <div class="content">
                  <div class="title">POWER BI</div>
                  <div class="type">SOFTWARE</div>
                  <div class="description">
                      Power BI oferece uma variedade de ferramentas para conectar-se a diversas fontes de dados, como bancos de dados, arquivos locais, serviços na nuvem e aplicativos de terceiros, e transformar esses dados em visualizações significativas, como gráficos, tabelas e mapas.
                  </div>
              </div>
            </div>


        </div>


        <div class="thumbnail">

            <div class="item">
                <img src="../../assets/img/sql-icon.png" alt="SQL-ÍCONE">
            </div>
            <div class="item">
                <img src="../../assets/img/angular-icon.png" alt="ANGULAR-ÍCONE">
            </div>
            <div class="item">
                <img src="../../assets/img/py-icon.png" alt="PYTHON-ÍCONE">
            </div>
            <div class="item">
                <img src="../../assets/img/java-icon.png" alt="JAVA-ÍCONE">
            </div>
            <div class="item">
              <img src="../../assets/img/html-icon.png" alt="HTML-ÍCONE">
            </div>
            <div class="item">
              <img src="../../assets/img/Csharp-icone.png" alt="C#-ÍCONE">
            </div>
            <div class="item">
              <img src="../../assets/img/node-icon.png" alt="NODE-ÍCONE">
            </div>
            <div class="item">
            <img src="../../assets/img/bootstrap-icon.png" alt="BOOTSTRAP-ÍCONE">
            </div>
            <div class="item">
              <img src="../../assets/img/pstsql-icon.png" alt="POSTGRESQL-ÍCONE">
            </div>
            <div class="item">
              <img src="../../assets/img/mysql-icon.png" alt="MYSQL-ÍCONE">
            </div>
            <div class="item">
              <img src="../../assets/img/css-icon.png" alt="CSS-ÍCONE">
            </div>
            <div class="item">
              <img src="../../assets/img/js-icon.png" alt="JAVASCRIPT-ÍCONE">
            </div>
            <div class="item">
              <img src="../../assets/img/power-bi-icon.png" alt="POWER-BI-ÍCONE">
            </div>


        </div>


        <div class="nextPrevArrows">
            <button class="prev"> < </button>
            <button class="next"> > </button>
        </div>


    </div>


  </div>
