<div class="viewport-cover">
  <app-menu [fundoTransparente]="true"></app-menu>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <h1>Habilidades</h1>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="5000">
                <div class="div-img">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219028845080875028/HTML5_logo_and_wordmark.svg.png?ex=6609d015&is=65f75b15&hm=a6448b14714c842a370bf376fd94267d4d1fc3749685abdffd25350085bbb154&" class="d-block w-100" alt="html-logo">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219027504589705327/Java-Logo.png?ex=6609ced5&is=65f759d5&hm=cb22b842cb34c729a7ac15a0ebce633925778788952a720e7f800a25f1959319&" class="d-block w-100" alt="Java-Logo">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219031218444832909/css3-logo-png-transparent.png?ex=6609d24a&is=65f75d4a&hm=4b67654771f70ec335ca2d1bbb5d9e723ea2e33add5ea1a612cd3d46e550eb9d&" class="d-block w-100" alt="css-logo">
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="000">
                <div class="div-img">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219028888408162314/Angular_full_color_logo.svg.png?ex=6609d01f&is=65f75b1f&hm=9ce0c47dd7a6eff7b68f9d437f629828cdb679c34bd20bfc5db6957ab41329c6&" class="d-block w-100" alt="angular-logo">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219028888038936576/2560px-Node.js_logo.svg.png?ex=6609d01f&is=65f75b1f&hm=c6a8e0e263f229a03ef926d86cbc534b51dac8f192d0642a7c900ca8d279620c&" class="d-block w-100" alt="javascript-logo">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219028889137844244/Bootstrap_logo.svg.png?ex=6609d01f&is=65f75b1f&hm=462f079e2f5e3d821ec8ecdb2e9c2609c4a004dd7a3915a496c9fb781f7db165&" class="d-block w-100" alt="bootstrap-logo">
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="div-img">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219029398989180938/Csharp_Logo.png?ex=6609d099&is=65f75b99&hm=5c76e4cd52a1479cae6cd7dc1d7e02afc6d9eb964ffd42e94d6751a4e9aafdd5&" class="d-block w-100" alt="c#-logo">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219030953847034006/Mysql_logo.png?ex=6609d20b&is=65f75d0b&hm=9da2a6fa8f32406ef5b0ee4798e9384b742f621b0068472661a842e1b4efed31&" class="d-block w-100" alt="Mysql_logo">
                  <img src="https://cdn.discordapp.com/attachments/805220480566165514/1219062540152213534/PostgreSQL-Logo.wine.png?ex=6609ef76&is=65f77a76&hm=5bcf79d7c083211b6655c969245caf6f59a509bd31f5dc92aea10d5c3fd66f7f&" class="d-block w-100" alt="PostgreSQL-Logo">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
