<div class="viewport-cover">
  <h1>Conquistas</h1>

  <figure class="icon-cards mt-3">
    <div class="icon-cards__content">
      <div class="icon-cards__item d-flex align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img/cubos.png" class="card-img-top" alt="certificado">
          <div class="card-body">
            <h5 class="card-title">Back End Cubos Academy</h5>
            <p class="card-text">Curso de back end com javascript e node.js. Aprofundando conhecimentos em API REST, Banco de dados, etc.</p>
            <a href="../../assets/Certificado Cubos Academy.pdf" class="btn btn-personalizado d-flex align-items-center justify-content-center"download="Certificado.pdf">Download Certificado  <img src="../../assets/img/arquivo.png" alt="icone">
            </a>
          </div>
        </div>
      </div>
      <div class="icon-cards__item d-flex align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img/certificado-csharp.jpg" class="card-img-top" alt="certificado">
          <div class="card-body">
            <h5 class="card-title">C# Udemy</h5>
            <p class="card-text">Curso de aprendizado da linguagem c#. Conceitos avançados como entity framework e ASP NET CORE também foram estudados.</p>
            <a href="../../assets/certificado-csharp.pdf" class="btn btn-personalizado d-flex align-items-center justify-content-center"download="Certificado.pdf">Download Certificado <img src="../../assets/img/arquivo.png" alt="icone">
            </a>
          </div>
        </div>
      </div>
      <div class="icon-cards__item d-flex align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img/certificado-git.jpg" class="card-img-top" alt="certificado">
          <div class="card-body">
            <h5 class="card-title">Git</h5>
            <p class="card-text">Curso de aprendizado sobre o git e versionamento de código usando o repositório remoto GITHUB e GITBUCKET</p>
            <a href="../../assets/certificado-git.pdf" class="btn btn-personalizado d-flex align-items-center justify-content-center"download="Certificado.pdf">Download Certificado <img src="../../assets/img/arquivo.png" alt="icone">
            </a>
          </div>
        </div>
      </div>
    </div>
  </figure>

</div>
