@font-face {
  font-family: 'CaviarDreams';
  src: url('./assets/fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'CaviarDreams', Arial, Helvetica, sans-serif!important;
}
