* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.viewport-cover {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #490075 url('../../assets/img/background.jpg') center / cover no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nome, .ocupacao-destaque {
  font-size: 1.4em;
  font-weight: bold;
  opacity: 0;
  transform: translateY(20px);
  filter: blur(5px);
  animation: fade-in 1s ease-in-out forwards;
}

.ocupacao-destaque {
  color: #FF1CC1;
  animation-delay: 0.2s; /* Atraso na animação */
}

.circle-container {
  width: 440px;
  height: 440px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(255,28,193,0) 0%, rgba(255,28,193,1) 100%);
  padding: 10px;
}

.circle-container img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.social-links {
  display: flex;
  gap: 20px;
  justify-content: left;
  width: 100%;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  filter: blur(5px);
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 0.4s; /* Atraso na animação */
}

.social-links a img {
  width: 50px;
  height: 50px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.texto p {
  font-size: 1.5em;
  text-align: left;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  filter: blur(5px);
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 0.6s; /* Atraso na animação */
}

.texto {
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  filter: blur(5px);
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 0.8s; /* Atraso na animação */
}

.div-textos {
  display: flex;
  flex-direction: column;
}

.row {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 200px) {
  .texto p, .nome {
    font-size: 1.2em;
  }
  .circle-container {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 576px) {
  .texto p, .nome {
    font-size: 1.6em;
  }
  .circle-container {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 768px) {
  .texto p, .nome {
    font-size: 1.6em;
  }
  .circle-container {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 992px) {
  .texto p, .nome {
    font-size: 1.6em;
  }
}

@media (min-width: 1200px) {
  .texto p, .nome {
    font-size: 1.7em;
  }
}

@media (min-width: 1400px) {
  .circle-container {
    width: 500px;
    height: 500px;
  }
}
