<div class="viewport-cover">
<app-menu [fundoTransparente]="true"></app-menu>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center div-textos">
        <div class="texto">
          <p>Olá Mundo! Me chamo <br><span class="nome">Andressa Silva</span></p>
          <p>E sou uma <span class="ocupacao-destaque">programadora web!</span></p>
        </div>
        <div class="social-links">
          <a href="https://github.com/andressa-silvaa" alt="GitHub" target="_blank">
            <img src="../../assets/img/github.png" alt="GitHub">
          </a>
          <a href="https://www.linkedin.com/in/andressa-silva-a3251522a/" alt="Linkedin" target="_blank">
            <img src="../../assets/img/linkedin.png" alt="LinkedIn">
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 div-img d-flex align-items-center justify-content-center">
        <div class="circle-container">
          <img src="../../assets/img/garota.jpeg" alt="Garota">
        </div>
      </div>
    </div>
  </div>

</div>

